doctype html  
html(lang='en')  
  head
    title An Tran
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', href='./css/index.processed.min.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")
    link(href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet")
  body
    .hero
      .container
        .row
          .col-md-4.col-sm-5.col-xs-12.align-self-center
            .business-card
              img.logo(src='./assets/RealName.svg')
              a(href='./assets/resume.pdf'): img.link(src='./assets/Resume.svg')
              a(href='https://github.com/Avarel'): img.link(src='./assets/GitHub.svg')
              a(href='mailto:antran@caltech.edu'): img.link(src='./assets/Contact.svg')
          .col-md-8.col-sm-7.col-xs-12.align-self-center
            .window.shadow
              .title Terminal
              .terminal
                code
      
    script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js")
    script(src='./src/index.processed.min.js')