@mixin small-screen {
    @media screen and (max-width: 767px) {
        @content;
    }
}

.sx {
    &.id {
        color: #39c8b0;
    }
    &.nb {
        color: #b4cda8;
    }
    &.fd {
        color: #9cdcfe;
    }
    &.kw {
        color: #499cd5;
    }
    &.lv {
        color: #94dbfd;
    }
    &.str {
        color: #cd9069;
    }
    &.st {
        color: #ffc66d;
    }
    &.fc {
        color: #dbdbaa;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.window {
    // transform: perspective(1000px) rotateY(-10deg) rotateX(5deg) rotate(0deg);

    display: flex;
    flex-direction: column;

    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;

    backdrop-filter: blur(10px);

    height: 700px;
    max-height: 80vh;

    @include small-screen {
        // transform: none;
        height: 250px;
        margin-bottom: 20px;
    }
    .header {
        height: 50px;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        user-select: none;

        .button {
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin-left: 10px;

            &:first-child {
                margin-left: 17px;
            }

            &.quit {
                background-color: rgb(255, 70, 70);
            }
            &.min {
                background-color: rgb(255, 217, 0);
            }
            &.max {
                background-color: rgb(0, 175, 0);
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .title {
            font-size: 15px;
            justify-content: center;
            text-align: center;
            display: flex;
            flex: 1 0 auto;
            color: white;
            font-family: 'Lucida Grande', sans-serif;

            position: absolute;
            left: 50%;
            right: 50%;
        }
    }
    .body {
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        color: white;
        flex: 1;
        height: calc(100% - 50px);

        .terminal {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 15px;
            code {
                font-family: "JetBrains Mono", monospace;
                white-space: pre;
                width: inherit;
                color: white;
            }
        }
    }
}

body {
    background: url("./assets/bg-tile.png"), #6d0019;
    min-height: 100vh;
}

.hero {
    background: linear-gradient(120deg, #a90329 49.9%, #00000000 50%);
    overflow: auto;
    color: white;
    .row {
        height: 100vh;
    }
    .business-card {
        animation: 2s slideleft;

        @include small-screen {
            animation: 2s slideup;
            margin-bottom: 50px;
        }

        .logo {
            margin: 5%;
        }
        img.link {
            margin-left: 15%;
            margin-right: 15%;

            transition: transform 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
