@mixin small-screen {
    @media screen and (max-width: 767px) {
        @content;
    }
}

.sx {
    &.id {
        color: #39c8b0;
    }
    &.nb {
        color: #b4cda8;
    }
    &.fd {
        color: #9cdcfe;
    }
    &.kw {
        color: #499cd5;
    }
    &.lv {
        color: #94dbfd;
    }
    &.str {
        color: #cd9069;
    }
    &.st {
        color: #ffc66d;
    }
    &.fc {
        color: #dbdbaa;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.window {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    border-radius: 10px;
    overflow: hidden;

    backdrop-filter: blur(10px);

    height: 700px;
    max-height: 80vh;

    @include small-screen {
        height: 250px;
        margin-bottom: 20px;
    }
    .header {
        height: 50px;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        user-select: none;

        .button {
            border-radius: 50%;
            height: 15px;
            width: 15px;
            margin-left: 10px;

            &:first-child {
                margin-left: 17px;
            }

            &.quit {
                background-color: rgb(255, 70, 70);
            }
            &.min {
                background-color: rgb(255, 217, 0);
            }
            &.max {
                background-color: rgb(0, 175, 0);
            }

            &:hover {
                opacity: 0.7;
            }
        }

        .title {
            font-size: 15px;
            justify-content: center;
            text-align: center;
            display: flex;
            flex: 1 0 auto;
            color: white;
            font-family: "Lucida Grande", sans-serif;

            position: absolute;
            left: 50%;
            right: 50%;
        }
    }
    .body {
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        color: white;
        flex: 1;
        height: calc(100% - 50px);

        .terminal {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 15px;
            code {
                font-family: "JetBrains Mono", monospace;
                white-space: pre;
                width: inherit;
                color: white;
            }
        }
    }
}

body {
    background: url("./assets/bg-tile.png"), #6d0019;
    min-height: 100vh;
}

@keyframes jelly {
    0% {
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) skewY(10deg) skewZ(-10deg);
    }
    50% {
        transform: scale(1.25, 1.1) skewX(-15deg) translateY(-2px);
    }
    100% {
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) skewY(-10deg) skewZ(-15deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.15);
    }
}

.hero {
    background: linear-gradient(120deg, #a90329 49.9%, #00000000 50%);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    .row {
        height: 100vh;
    }
    .business-card {
        animation: 2s slideleft;

        @include small-screen {
            animation: 2s slideup;
            margin-bottom: 50px;
        }

        .logo {
            margin: 5%;
        }

        .item {
            isolation: isolate;
            position: relative;
            .jelly {
                filter: sepia(50%) saturate(3);
                mix-blend-mode: multiply;
                position: absolute;
                top: 0;
                height: 100%;
                width: 70%;
                display: flex;
                justify-content: center;
                pointer-events: none;

                left: 0;
                right: 0;
                margin-left: 5%;

                svg {
                    position: absolute;
                    overflow: visible;
                    display: none;

                    align-self: center;
                    width: 100%;

                    &.red {
                        animation-delay: 0.05s;
                        animation-duration: 0.4s;
                    }
                    &.cyan {
                        animation-delay: 0.08s;
                        animation-duration: 0.45s;
                        mix-blend-mode: screen;
                    }

                    animation-name: jelly;
                    transform-origin: center;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }

            &:hover {
                .jelly > svg {
                    display: initial;
                }

                z-index: 9999;

                img.link {
                    animation: bounce .15s ease;
                    animation-fill-mode: forwards;
                }
            }

            img.link {
                margin-left: 15%;
                margin-right: 15%;
                z-index: -1;

                transition: transform 0.2s;
            }
        }
    }
}
