@mixin small-screen {
    @media screen and (max-width: 767px) {
        @content;
    }
}

$header-height: 50px;
$rim-size: 8px;

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.bento {
    display: flex;
    flex-direction: column;

    font-family: "Arsenal", sans-serif;

    .box {
        margin-top: 12px;
        margin-bottom: 12px;

        font-size: 17px;
        height: 200px;
        max-height: 80vh;
        position: relative;

        .abs-svg {
            position: absolute;
            z-index: 9999;
            user-select: none;
            max-width: 60%;
        }

        &.edu .abs-svg {
            width: 200px;
            right: -10px;
            top: -10px;
        }

        &.code .abs-svg {
            width: 120px;
            right: -15px;
            top: -15px;
        }

        &.curemploy .abs-svg {
            width: 100px;
            right: -25px;
            top: -25px;
        }

        .header {
            height: $header-height;
            flex: 0 0 $header-height;
            display: flex;
            align-items: center;
            // background: rgba(0, 0, 0, 0.1);
            user-select: none;

            .title {
                font-size: 20px;
                justify-content: left;
                text-align: left;
                padding-left: 20px;

                display: flex;
                flex: 1 0 auto;
                color: black;
                // font-family: "Lucida Grande", sans-serif;
            }
        }

        .black-rim {
            background-color: black;
            padding: $rim-size;
            height: 100%;
            width: 100%;
        }

        .white-rim {
            background-color: white;
            padding: 0px $rim-size $rim-size $rim-size;
            height: 100%;
            width: 100%;
        }

        &.edu .box-transform {
            transform: perspective(200px) rotateY(2deg) rotateX(5deg) rotate(0deg);
        }

        &.int .box-transform {
            transform: perspective(250px) rotateY(-2deg) rotateX(-3deg) rotate(0deg);
        }

        &.curemploy .box-transform {
            transform: perspective(200px) rotateY(-3deg) rotateX(2deg) rotate(0deg);
        }

        &.pastexpr .box-transform {
            transform: perspective(200px) rotateY(1deg) rotateX(-2deg) rotate(0deg);
        }

        &.code .box-transform {
            transform: perspective(300px) rotateY(2deg) rotateX(2deg) rotate(0deg);
        }

        .box-transform {
            height: 100%;
            transition: transform 0.2s;
            
            &:hover {
                transform: none;
            }
        }

        .body {
            background: black;
            display: flex;
            color: white;
            flex: 1;
            height: calc(100% - $header-height);
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;

            .row {
                display: flex;
                flex-grow: 1;
                padding: 0px 20px 0px;
                // min-height: 40px;
                // max-height: none;

                .subbox {
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    flex-grow: 1;
                    flex: 1;
                    display: flex;
                    padding: 5px;

                    &.right {
                        justify-content: right;
                        align-items: right;
                        text-align: right;
                    }

                    &.left {
                        justify-content: left;
                        align-items: left;
                        text-align: left;
                    }
                }
            }

            .content {
                flex: 1;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 15px;

                code {
                    font-family: "JetBrains Mono", monospace;
                    width: inherit;
                    color: white;
                }
            }
        }
    }
}

body {
    background: url("./assets/bg-tile.png"), #6d0019;
    min-height: 100vh;
}

@keyframes jelly {
    0% {
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) skewY(10deg) skewZ(-10deg);
    }

    33% {
        transform: scale(1.25, 1.1) skewX(-15deg) translateY(-2px);
    }

    66% {
        transform: scale(1, 1.25) skewX(-10deg) translateY(-5px) skewY(5deg) skewZ(25deg);
    }

    100% {
        transform: scale(1.25, 1) skewX(20deg) translateY(3px) skewY(-10deg) skewZ(-15deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.15);
    }
}

canvas#canvas {
    position:absolute;
    width: 100vw;
    height: 100vh;
}

.hero {
    background: linear-gradient(100deg, #a90329 49.9%, #00000000 50%);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;

    >.container>.row {
        height: 100vh;
    }

    .business-card {
        animation: 2s slideleft;

        @include small-screen {
            animation: 2s slideup;
            margin-bottom: 50px;
        }

        .logo {
            margin: 5%;
        }

        .item {
            isolation: isolate;
            position: relative;

            .jelly {
                filter: sepia(50%) saturate(3);
                mix-blend-mode: multiply;
                position: absolute;
                top: 0;
                height: 100%;
                width: 70%;
                display: flex;
                justify-content: center;
                pointer-events: none;

                left: 0;
                right: 0;
                margin-left: 5%;

                svg {
                    position: absolute;
                    overflow: visible;
                    display: none;

                    align-self: center;
                    width: 100%;

                    &.red {
                        animation-delay: 0.05s;
                        animation-duration: 0.378s;
                    }

                    &.cyan {
                        animation-delay: 0.08s;
                        animation-delay: -1s;
                        animation-duration: 0.423s;
                        mix-blend-mode: screen;
                    }

                    animation-name: jelly;
                    transform-origin: center;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }

            &:hover {
                .jelly>svg {
                    display: initial;
                }

                z-index: 9999;

                img.link {
                    animation: bounce .15s ease;
                    animation-fill-mode: forwards;
                }
            }

            img.link {
                margin-left: 15%;
                margin-right: 15%;
                z-index: -1;

                transition: transform 0.2s;
            }
        }
    }
}